@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #9B7EBD ;
}

.messages-container {
    overflow-y: scroll; /* Keeps the scroll functionality */
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.messages-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.messages-container {
    scrollbar-width: none; /* Firefox */
}




/* ::-webkit-scrollbar {
    cursor: pointer;
    width: 5px !important;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
} */